mixin button(text, className, href)
	if href
		a.button(href=href, class=className)
			span.button__text-box
				span.button__text.button__text--normal= text
				span.button__text.button__text--hover
					span.button__anim-box
						span.button__anim-text= text
						+svg("button-arrow")(class="button__icon")
	else
		button.button(class=className)
			span.button__text-box
				span.button__text.button__text--normal= text
				span.button__text.button__text--hover
					span.button__anim-box
						span.button__anim-text= text
						+svg("button-arrow")(class="button__icon")
